/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 html {
  font-size: calc(min(2.6vmin,20px)) !important;
}

body {
  font-size: 1rem !important;
  position: relative !important;
  height: 100vh !important;
  overflow-y: hidden !important;
  margin: 0;
}

a,
.ui.list .list>.item a.header,
.ui.list>.item a.header,
.ui.list>.item header.header {
  text-decoration: none;
  color: #D73F09 !important;
}

a:hover,
.ui.list .list>.item a.header:hover,
.ui.list>.item a.header:hover,
.ui.list>.item header.header:hover {
  color: #D73F09 !important;
  filter: brightness(90%);
}

.highlight {
  color: #D73F09 !important;
}

.ui.primary.button {
  background-color: #D73F09 !important;
}

.ui.primary.button:hover {
  filter: brightness(90%);
}

.ui.primary.button:active {
  filter: brightness(80%);
}

.ui.icon i.icons .corner.icon {
  text-shadow:
  -1px -1px 0 #D73F09,
  1px -1px 0 #D73F09,
  -1px 1px 0 #D73F09,
  1px 1px 0 #D73F09;
}

.ui.icon.button>.content,
.ui.icon.buttons .button>.content {
  margin-left: 0.5em;
  display: inline-block;
}

.ui.dropdown>.dropdown.icon {
  margin-right: -0.75em !important;
  margin-left: 0.5em !important;
}

.ui.icon.button > .icon, .ui.icon.buttons .button > .icon
.ui.input input:focus {
  border-color: #D73F09 !important;
}

.ui.grid {
  margin-left: -0.5rem !important;
  margin-right: -0.5rem !important;
}

.ui.grid >* {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.ui.loader.inline-loader {
  margin-left: .25em !important;
  width: 1em !important;
  height: .5em !important;
}
.ui.loader.inline-loader::before,
.ui.loader.inline-loader::after {
  width: 1em;
  height: 1em;
  margin-top: -.35em;
  margin-left: -.5em;
  border-width: .15em;
}

.ui.label>.detail {
  font-weight: 500;
  margin-left: .5em;
  margin-right: .5em;
}
